body {
    background-image: url("../images/sky.jpg");
}

.container{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#indexContainer{
    background-color:  white;
    border-radius: 5px;
    text-align: justify;
}

#indexContainer h1 {
    text-decoration: underline;
    text-align: center;
    color: red;
    font-size: 2em;
    
}

#indexContainer h2 {
    text-decoration: underline;
    font-size: 1.5em;
}

#indexContainer h3 {
    font-size: 1em ;
}

#playerModeText {
    color: cornflowerblue;
    text-align: center;
}

.indexButtons {
    margin: 0 auto;
    color: white;
    font-size: 1em;
    padding: 1em 1em;
    border-radius: 25px;
}

#playerNum{
    background-color: cornflowerblue;
}

#startGame{
    background-color: red;
}

canvas {
display: block;
margin: 0 auto;
}
nav ul{
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px;
    text-align: center;
}

nav li {
    display: inline;
}
nav button {
    background-color: pink;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 2em;
}

  

